gitignore/
.snakemake/
resources/ref_genomes/hg19/
test/
resources/samples/
results/
!results/processed_files/
!results/plots/
logs/
!logs/README.md
reports/
!reports/README.md
final/
workflow/scripts/4plots/gitignore/
workflow/scripts/4plots/.Rproj.user/
workflow/scripts/4plots/.RData
workflow/scripts/4plots/.Rhistory