gitignore/
1_code/gitignore
0_data/gitignore
.Rproj.user
1_code/.RData
1_code/.Rhistory
1_code/save.RData
0_data/regions
.snakemake/
resources/ref_genomes/hg19/*
test/
resources/samples/*/*
results/*
logs/*
!logs/README.md
reports/*
!reports/README.md
final/*